<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>

	<footer style="background-color: cornflowerblue">This is footer from basic layout</footer>
</body>
</html>
