
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
	Date and time = @ViewBag.datetime_now
	<div>
		hihihi
		@Html.ActionLink("auth!", "Authentification")
	</div>
</body>
</html>
