@model IEnumerable<Beg2.Entity_framework.DataModel.News>
@{
	ViewBag.Title = "main page";
	Layout = "~/Views/Layouts/_BasicLayout.cshtml";
}

Date and time = @ViewBag.showing_data
	<div>
		hihihi
		@Html.ActionLink("auth!	", "Authentification")
	</div>
