@model Beg2.Models.AuthentificationData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User</title>
</head>
<body>
    <div>
		Hello, @Model.login !
    </div>
</body>
</html>
